/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_se.h"


#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";
// ---------------------------------------------------------------------------------
// | ESC |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | BKSP | BKSP |
// | E   |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  Å   | ENT  |
// | x   | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  Ø  |  Æ   | -    |
// | x   | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  -  |  UP  | SHIFT|
// | x   | x    | CTR | OPT | CMD | LOW | SPC |     | SPC | LOW | CMD | OPT |LEFT | DOWN | RIGHT|


        default_layer {
            bindings = <
&mt ESC SINGLE_QUOTE  &kp SE_APOS  &kp SE_N1     &kp SE_N2    &kp SE_N3    &kp SE_N4         &kp SE_N5         &kp SE_N6       &kp SE_N7         &kp SE_N8     &kp SE_N9    &kp SE_N0       &trans                &kp BSPC
&kp SE_E              &kp TAB      &kp SE_Q      &kp SE_W     &kp SE_W     &kp SE_R          &kp SE_T          &kp SE_Y        &kp SE_U          &kp SE_I      &kp SE_O     &kp SE_P        &kp SE_A_RING         &kp ENTER
&bt BT_SEL 0          &kp CAPS     &kp SE_A      &kp SE_S     &kp SE_D     &kp SE_F          &kp SE_G          &kp SE_H        &kp SE_J          &kp SE_K      &kp SE_L     &kp SE_O_SLASH  &kp SE_AE             &kp SE_MINUS
&bt BT_SEL 1          &kp LSHFT    &kp SE_Z      &kp SE_X     &kp SE_C     &kp SE_V          &kp SE_B          &kp SE_N        &kp SE_M          &kp SE_COMMA  &kp SE_DOT   &kp SE_MINUS    &kp UP                &kp RIGHT
&bt BT_SEL 2          &trans       &kp LCTRL     &kp LALT     &kp LGUI     &mo LOWER         &kp SPACE         &kp SPACE       &mo RAISE         &kp RGUI      &kp RALT     &kp LEFT        &kp DOWN              &kp RIGHT
            >;
        };

        symbol_layer {
            bindings = <
&trans  &trans  &trans         &trans         &trans             &trans     &trans    &trans  &kp LESS_THAN         &kp GREATER_THAN       &trans          &trans           &trans  &trans
&trans  &trans  &trans         &kp BACKSLASH  &kp PIPE           &kp SLASH  &trans    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp ASTERISK    &kp TILDE        &trans  &trans
&trans  &trans  &kp SEMICOLON  &kp COLON      &kp DOUBLE_QUOTES  &kp SQT    &trans    &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans  &trans
&trans  &trans  &trans         &trans         &trans             &trans     &trans    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMICOLON   &kp COLON        &trans  &trans
            >;
        };

        numpad_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans           &trans           &trans           &trans         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans           &kp SLASH        &kp ASTERISK     &kp BACKSPACE  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS      &trans  &trans
&kp X  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS       &trans  &trans
            >;
        };
    };
};
