/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_se.h"
#include "keys_sv.h"
#include "keys_no_mac.h"


#define DEFAULT 0
#define SYMBOL  1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";
// ---------------------------------------------------------------------------------
// | ESC |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | none | BKSP |
// | x   |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |bspc  | ENT  |
// | x   | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  Ø  | enter| None |
// | x   | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  -  |SHIFT | UP   |
// | x   | x    | CTR | OPT | CMD | SPC | LOW |     | LOW | SPC | CMD | OPT |LEFT | DOWN | RIGHT|
&mt NO_O_SLASH NO_O {flavor = "tap-preferred";tapping-term-ms = <180>;};

        default_layer {
            bindings = <
&kp ESC              &kp NO_APOS  &kp NO_N1     &kp NO_N2    &kp NO_N3                                                                &kp NO_N4         &kp NO_N5         &kp NO_N6       &kp NO_N7         &kp NO_N8     &kp NO_N9    &kp NO_N0       &kp BSPC       &kp BSPC
&trans               &kp TAB      &kp NO_Q      &kp NO_W     &mt NO_O_SLASH NO_O {flavor = "tap-preferred";tapping-term-ms = <180>;}; &kp NO_R          &kp NO_T          &kp NO_Y        &kp NO_U          &kp NO_I      &kp NO_O     &kp NO_P        &kp BSPC       &kp ENTER
&trans               &kp CAPS     &kp NO_A      &kp NO_S     &kp NO_D                                                                 &kp NO_F          &kp NO_G          &kp NO_H        &kp NO_J          &kp NO_K      &kp NO_L     &kp NO_O_SLASH  &kp ENTER      &none
&trans               &kp LSHFT    &kp NO_Z      &kp NO_X     &kp NO_C                                                                 &kp NO_V          &kp NO_B          &kp NO_N        &kp NO_M          &kp NO_COMMA  &kp NO_DOT   &kp NO_MINUS    &kp RSHFT      &kp UP
&trans               &trans       &kp LCTRL     &kp LALT     &kp LGUI                                                                 &kp SPACE         &mo SYMBOL        &mo RAISE       &kp SPACE         &kp RGUI      &kp RALT     &kp LEFT        &kp DOWN       &kp RIGHT
            >;
        };
// ---------------------------------------------------------------------------------------------------
// |     |      |     |     |     |     |     |        |       |     |     |     |     |      |      |
// |     | esc  |     |  7  |  8  |  9  |     |        |   ~   |  {  |  }  |  "  |  '  |      |      |
// |     |      |     |  4  |  5  |  6  |     |        |   ´   |  (  |  )  |  <  |  >  |      |      |
// |     |      |  0  |  1  |  2  |  3  |     |        |   `   |  [  |  ]  |  ?  |  ¨  |      |      |
// |     |      |     |     |     |     |     |        |       |     |     |     |     |      |      |

        symbol_layer1 {
            bindings = <
&none        &none        &kp F1     &kp F2     &kp F3     &kp F4     &kp F5            &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
&none        &kp ESC      &none      &kp N7     &kp N8     &kp N9     &none             &kp NO_TILDE  &kp NO_LBRC   &kp NO_RBRC   &kp NO_DQT    &kp NO_SQT    &trans        &none
&none        &none        &none      &kp N4     &kp N5     &kp N6     &none             &kp NO_ACUTE  &kp NO_LPAR   &kp NO_RPAR   &kp NO_LT     &kp NO_GT     &trans        &none
&none        &none        &kp N0     &kp N1     &kp N2     &kp N3     &none             &kp NO_GRAVE  &kp NO_LBKT   &kp NO_RBKT   &kp NO_QMARK  &kp NO_UMLAUT &trans        &none
&none        &none        &trans     &trans     &trans     &trans     &trans            &trans        &trans        &trans        &trans        &trans        &trans        &none 
            >; 
        };

// ---------------------------------------------------------------------------------
// |   | bt4 |  f1 |  f2 |  f3 | f4  |  f5 |        |   F6  |  f7 |  f8 |  f9 |  f10| f11  | f12  |
// |   | bt3 |  $  |  @  |  ^  |  !  |  +  |        |       |     |     |     |     |      |      |
// |   | bt2 |  %  |  &  |  =  |  _  |  -  |        |       |LEFT |DOWN | UP  |RIGHT|      |      |
// |   | bt1 |  #  |  |  |  /  |  \  |  *  |        |       |     |     |     |     |      |      |
// |   | bt0 |     |     |     |     |     |        |       |     |     |     |     |      |      |


        symbol_layer2 {
            bindings = <
&trans  &bt BT_SEL 4     &kp F1         &kp F2         &kp F3        &kp F4        &kp F5                &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
&trans  &bt BT_SEL 3     &kp NO_DOLLAR  &kp NO_AT      &kp NO_CARET  &kp NO_EXCL   &kp NO_PLUS           &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &trans        &none
&trans  &bt BT_SEL 2     &kp NO_PERCENT &kp NO_AMPS    &kp NO_EQUAL  &kp NO_UNDER  &kp NO_MINUS          &kp F6        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans        &none
&trans  &bt BT_SEL 1     &kp NO_HASH    &kp NO_PIPE    &kp NO_SLASH  &kp NO_BSLH   &kp NO_STAR           &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &trans        &none
&trans  &bt BT_SEL 0     &trans         &trans         &trans        &trans        &trans                &trans        &trans        &trans        &trans        &kp F12       &trans        &none 
            >;
        };
    };
};
