/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_se.h"
#include "keys_sv.h"
#include "keys_win_no.h"
#include "keys_no_mac.h"


#define DEFAULT 0
#define SYMBOL_M 1
#define SYMBOL2_M 2
#define DEFAULT_WIN 3
#define SYMBOL_W 4
#define SYMBOL2_W 5

/ {
    keymap {
        compatible = "zmk,keymap";
// ---------------------------------------------------------------------------------
// | x   | x    |  x  |  x  |  x  |  x  |  x  |     |  x  |  x  |  x  |  x  |  x  | x    | x    |
// | x   | TAB  |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  | bspc | x    |
// | x   | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  | ent | ent  | x    |
// | x   | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  -  |      | x    |
// | x   | x    | CTR | OPT | CMD | SPC | SM  |     | SM2 | SPC | CMD | OPT |     |      | x    |

// har fjerna bspc, esc, æ, ø, å

        default_layer_mac {
            bindings = <
&trans               &trans           &kp trans        &trans       &trans        &trans             &trans            &trans          &trans            &trans         &trans        &trans           &trans           &trans
&trans               &kp TAB          &kp NOM_Q        &kp NOM_W    &kp NOM_E     &kp NOM_R          &kp NOM_T         &kp NOM_Y       &kp NOM_U         &kp NOM_I      &kp NOM_O     &kp NOM_P        &kp BSPC         &trans
&trans               &kp CAPS         &mt NOM_AA NOM_A &kp NOM_S    &kp NOM_D     &kp NOM_F          &kp NOM_G         &kp NOM_H       &kp NOM_J         &kp NOM_K      &kp NOM_L     &kp NOM_ENTER    &kp ENTER        &trans
&trans               &kp LSHFT        &kp NOM_Z        &kp NOM_X    &kp NOM_C     &kp NOM_V          &kp NOM_B         &kp NOM_N       &kp NOM_M         &kp NOM_COMMA  &kp NOM_DOT   &kp NOM_MINUS    &kp RSHFT        &trans
&trans               &trans           &kp LCTRL        &kp LALT     &kp LGUI      &kp SPACE          &mo SYMBOL_M      &mo SYMBOL2_M   &kp SPACE         &kp RGUI       &kp RALT      &trans           &trans           &trans
            >;
        };
// ---------------------------------------------------------------------------------------------------
// |     |      |     |     |     |     |     |        |       |     |     |     |     |      |      |
// |     |      |     |  7  |  8  |  9  |     |        |       |  {  |  }  |  "  |  '  |  ~   |      |
// |     |      |     |  4  |  5  |  6  |     |        |       |  (  |  )  |  <  |  >  |  ´   |      |
// |     |      |  0  |  1  |  2  |  3  |     |        |       |  [  |  ]  |  ?  |  ¨  |   `  |      |
// |     |      |     |     |     |     |     |        |       |     |     |     |     |      |      |

// fjerna fkeys
        symbol_layer1_mac {
            bindings = <
&trans        &trans        &trans        &trans         &trans     &trans         &trans             &trans         &trans        &trans         &trans          &trans         &trans         &trans
&trans        &trans        &trans        &kp NOM_N7     &kp NOM_N8 &kp NOM_N9     &trans             &trans         &kp NOM_LBRC  &kp NOM_RBRC   &kp NOM_DQT     &kp NOM_SQT    &kp NOM_TILDE  &trans
&trans        &trans        &trans        &kp NOM_N4     &kp NOM_N5 &kp NOM_N6     &trans             &trans         &kp NOM_LPAR   &kp NOM_RPAR  &kp NOM_LT      &kp NOM_GT     &kp NOM_ACUTE  &trans
&trans        &trans        &kp NOM_N0    &kp NOM_N1     &kp NOM_N2 &kp NOM_N3     &trans             &trans         &kp NOM_LBKT  &kp NOM_RBKT   &kp NOM_QMARK   &trans         &kp NOM_GRAVE  &trans
&trans        &trans        &trans        &trans         &trans     &trans         &trans             &trans         &trans        &trans         &trans          &trans         &trans         &trans 
            >;  
        };

// ---------------------------------------------------------------------------------
// |     |      |     |     |     |     |     |        |       |     |     |     |     |      |      |
// |     | bt3  |  $  |  @  |  ^  |  !  |  +  |        |       |  f1 |  f2 |  f3 |  f4 |      |      |
// |     | bt2  |  %  |  &  |  =  |  _  |  -  |        |       |LEFT |DOWN | UP  |RIGHT|      |      |
// |     | bt1  |  #  |  |  |  /  |  \  |  *  |        |       |  f6 |  f7 | f8  | f9  | f10  |      |
// |     | bt0  |     |     |     |     |     |        |       |     |     |     | f11 | f12  |      |



        symbol_layer2 {
            bindings = <
&trans  &trans           &trans          &trans         &trans        &trans        &trans                &trans        &trans        &trans        &trans        &trans        &trans        &trans
&trans  &bt BT_SEL 3     &kp NOM_DOLLAR  &kp SV_AT      &kp SV_CARET  &kp SE_EXCL   &kp SE_PLUS           &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &trans        &none
&trans  &bt BT_SEL 2     &kp SE_PERCENT  &kp SE_AMPS    &kp SE_EQUAL  &kp SE_UNDER  &kp SE_MINUS          &kp F6        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans        &none
&trans  &bt BT_SEL 1     &kp SE_HASH     &kp SV_PIPE    &kp SE_SLASH  &kp SV_BSLH   &kp SV_STAR           &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &trans        &none
&trans  &bt BT_SEL 0     &trans          &trans         &trans        &trans        &trans                &trans        &trans        &trans        &trans        &kp F12       &trans        &none 
            >;
        };

// ---------------------------------------------------------------------------------
// | ESC |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | none | BKSP |
// | x   |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  Å   | ENT  |
// | x   | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  Ø  |  Æ   | None |
// | x   | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  -  |SHIFT | UP   |
// | x   | x    | CTR | GUI | ALT | SPC | LOW |     | LOW | SPC | CMD | OPT |LEFT | DOWN | RIGHT|


  

// ---------------------------------------------------------------------------------
// |     |      |  f1 |  f2 |  f3 | f4  |  f5 |        |   F6  |  f7 |  f8 |  f9 |  f10| f11  | f12  |
// |     |      |     |  7  |  8  |  9  |     |        |       |  {  |  }  |  "  |  '  |  ~   |      |
// |     |      |     |  4  |  5  |  6  |     |        |       |  (  |  )  |  <  |  >  |  ´   |      |
// |     |      |  0  |  1  |  2  |  3  |     |        |       |  [  |  ]  |  ?  |  ¨  |   `  |      |
// |     |      | ctrl| gui | alt | spc |     |        |       |  spc| ralt| ctrl|     |      |      |

 


// ---------------------------------------------------------------------------------
// | bt4 |      |  f1 |  f2 |  f3 | f4  |  f5 |        |   F6  |  f7 |  f8 |  f9 |  f10| f11  | f12  |
// | bt3 |      |  $  |  @  |  ^  |  !  |  +  |        |       |     |     |     |     |      |      |
// | bt2 |      |  %  |  &  |  =  |  _  |  -  |        |       |LEFT |DOWN | UP  |RIGHT|      |      |
// | bt1 |      |  #  |  |  |  /  |  \  |  *  |        |       |     |     |     |     |      |      |
// | bt0 |      | ctrl| opt | cmd | spc |     |        |       |  spc| cmd |  opt|     |      |      |


   





    };
};
