if SHIELD_splitkeyboard_LEFT

config ZMK_KEYBOARD_NAME
    default "splitkeyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_splitkeyboard_LEFT || SHIELD_splitkeyboard_RIGHT

config ZMK_SPLIT
    default y

endif