#include "corne.dtsi"

&default_transform { 
    col-offset = <8>;  // Updated: 7 columns on left + 1 gap = 8
};

&kscan0 {
    col-gpios = <&pro_micro 2 GPIO_ACTIVE_HIGH>
               , <&pro_micro 7 GPIO_ACTIVE_HIGH>
               , <&pro_micro 6 GPIO_ACTIVE_HIGH>
               , <&pro_micro 5 GPIO_ACTIVE_HIGH>
               , <&pro_micro 4 GPIO_ACTIVE_HIGH>
               , <&pro_micro 3 GPIO_ACTIVE_HIGH>
               , <&pro_micro 0 GPIO_ACTIVE_HIGH> // Added column: now 7 columns total
    ;
};
